<form method="post" style="margin-left: 300px">
  <h4 style="color: #007bff">Create Service Page</h4>
  <input type="hidden" >
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Area:</td>
      <td><input type="text" class="form-control"/>
        <p ></p></td>
    </tr>
    <tr>
      <td>Cost:</td>
      <td><input type="text" class="form-control"/>
        <p></p></td>
    </tr>
    <tr>
      <td>Max PeoPle:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Standard Room:</td>
      <td><input type="text" class="form-control"/>
        <p></p>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Pool Area:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Service Code:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Number Floors:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Rent Type:</td>
      <td>
        <select class="form-control">
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Service Type:</td>
      <td>
        <select class="form-control">
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-warning" role="button"> Back to Service List</a>
      </td>
      <td><input type="submit" value="Create Service"></td>
    </tr>
  </table>
</form>
