<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="list-group col-3" th:fragment="content">
    <a href="#" class="list-group-item list-group-item-action" alt="..."style="height: 150px">
        Khách Sạn
        <img src="/img/resort4.jpg" class="d-block w-100 " alt="..."style="height: 150px">
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Du Lịch
        <img src="/img/resort5.jpg" class="d-block w-100 " alt="..."style="height: 150px">
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Ẩm thực
        <img src="/img/am_thuc1.jpg" class="d-block w-100 " alt="..."style="height: 150px">
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Ẩm Thực Japan
        <img src="/img/am_thuc2.jpg" class="d-block w-100 " alt="..."style="height: 150px">
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        Anime
        <img src="/img/anime.jpg" class="d-block w-100 " alt="..."style="height: 150px">
    </a>
</div>
</body>
</html>