<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mscom="" xmlns:md="">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row" style="background: #062c33" th:fragment="footer">
    <ul class="nav col-md-6" >
        <li>
            <p>Follow this page</p>
        </li>
        <li class="nav-item pl-3">
            <a itemprop="sameAs" href="http://www.facebook.com/surface" aria-label="Follow this page on Facebook" title="Follow this page on Facebook" target="_blank"
               data-bi-name="facebook" data-bi-bhvr="SOCIALLIKE" data-bi-socchn="facebook" data-bi-type="image" class="x-hidden-focus"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/facebook-gray.svg?version=0b3295fd-6d09-d5a5-af3b-498b3ad72a95" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/facebook-gray.svg?version=0b3295fd-6d09-d5a5-af3b-498b3ad72a95" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
        <li class="nav-item pl-3">
            <a itemprop="sameAs" href="http://www.twitter.com/surface" aria-label="Follow this page on Twitter" title="Follow this page on Twitter" target="_blank" data-bi-name="twitter"
               data-bi-bhvr="SOCIALLIKE" data-bi-socchn="twitter" data-bi-type="image" class="x-hidden-focus"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/twitter-gray.svg?version=9b4af76e-357b-33af-9bf5-7b5dbf882330" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/twitter-gray.svg?version=9b4af76e-357b-33af-9bf5-7b5dbf882330" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
        <li class="nav-item pl-3">
            <a itemprop="sameAs" href="https://www.instagram.com/surface" class="instagram x-hidden-focus" title="Follow this page on instagram" aria-label="Follow this page on instagram" target="_blank" data-bi-name="instagram" data-bi-bhvr="SOCIALLIKE" data-bi-socchn="instagram" data-bi-type="image"><picture>
                <mscom:image usedatasource="true" htmlcustomattributes="{'media':'(min-width:0px)'}" alt="Follow this page on instagram"
                             md:payloadguid="0e6f04f3-3223-417f-a349-926b12613b8f"></mscom:image>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/intagram.svg?version=3571ba35-1fde-08f2-8396-dd1969712cd8" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/intagram.svg?version=3571ba35-1fde-08f2-8396-dd1969712cd8" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
        <li class="nav-itemp-3 pl-3">
            <a itemprop="sameAs" href="https://www.linkedin.com/showcase/microsoft-surface" class="LinkedIn x-hidden-focus" aria-label="Follow this page on LinkedIn"
               title="undefined" target="_blank" data-bi-name="linkedin" data-bi-bhvr="SOCIALLIKE" data-bi-socchn="linkedin" data-bi-type="image"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/linkedin-black.svg?version=9e943abf-c655-434c-6e60-91aed3e9ea11" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/linkedin-black.svg?version=9e943abf-c655-434c-6e60-91aed3e9ea11" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
    </ul>
    <ul class="nav justify-content-end col-md-6">
        <li>
            <p>Share this page</p>
        </li>
        <li class="nav-item pr-3">
            <a itemprop="sameAs" href="http://www.facebook.com/surface" aria-label="Follow this page on Facebook" title="Follow this page on Facebook" target="_blank"
               data-bi-name="facebook" data-bi-bhvr="SOCIALLIKE" data-bi-socchn="facebook" data-bi-type="image" class="x-hidden-focus"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/facebook-gray.svg?version=0b3295fd-6d09-d5a5-af3b-498b3ad72a95" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/facebook-gray.svg?version=0b3295fd-6d09-d5a5-af3b-498b3ad72a95" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
        <li class="nav-item pr-3">
            <a itemprop="sameAs" href="http://www.twitter.com/surface" aria-label="Follow this page on Twitter" title="Follow this page on Twitter" target="_blank" data-bi-name="twitter"
               data-bi-bhvr="SOCIALLIKE" data-bi-socchn="twitter" data-bi-type="image" class="x-hidden-focus"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/twitter-gray.svg?version=9b4af76e-357b-33af-9bf5-7b5dbf882330" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/twitter-gray.svg?version=9b4af76e-357b-33af-9bf5-7b5dbf882330" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
        <li class="nav-itemp-3 pr-3">
            <a itemprop="sameAs" href="https://www.linkedin.com/showcase/microsoft-surface" class="LinkedIn x-hidden-focus" aria-label="Follow this page on LinkedIn"
               title="undefined" target="_blank" data-bi-name="linkedin" data-bi-bhvr="SOCIALLIKE" data-bi-socchn="linkedin" data-bi-type="image"><picture>
                <source srcset="https://c.s-microsoft.com/en-us/CMSImages/linkedin-black.svg?version=9e943abf-c655-434c-6e60-91aed3e9ea11" media="(min-width:0px)">
                <img src="https://c.s-microsoft.com/en-us/CMSImages/linkedin-black.svg?version=9e943abf-c655-434c-6e60-91aed3e9ea11" class="nav-link" width="" height="" alt=""></picture></a>
        </li>
    </ul>
</div>
</body>
</html>