
  <a href="/customer-create" class="btn btn-warning" role="button">Create Customer</a>
<table class="table table-success ">
  <thead>
  <tr>
    <th style="color: black;column-span: 12">Customer List</th>
  </tr>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Gender</th>
    <th scope="col">Id Card</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Customer Code</th>
    <th scope="col">Customer Type</th>
    <th scope="col"></th>
    <th scope="col" style="column-span: 2">Action</th>
  </tr>
  </thead>
</table>
