<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<button><a href="give_book">Give Book</a></button>
<h1>Book List</h1>
<table border="1">
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Name Book</th>
    <th>Amount</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  <th:block th:each=" books , count: ${book}">
    <tr>
      <td th:text="${count.count }"></td>
      <td th:text="${books.id}"></td>
      <td th:text="${books.nameBook}"></td>
      <td th:text="${books.amount}"></td>
      <td th:text="${books.content}"></td>
      <td><a th:href="@{/edit/__${books.id}__ }">Edit</a></td>
      <td><a th:href="@{/delete/__${books.id}__ }">Delete</a></td>
      <td><a th:href="@{/view/__${books.id}__ }">View</a></td>
    </tr>
  </th:block>
</table>
</body>
</html>