<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title></head>
<body>
<a href="/book">Back to Book List</a>
<h1>View Book</h1>
<form method="post" th:action="@{/rent_book}">
    <input type="hidden" name="id"  th:field="*{book.id}">
      ID:<h6 th:text="${book.id}" th:name="id"></h6>
      Name Book:<h6 th:text="${book.nameBook}" ></h6>
      Content:<h6 th:text="${book.content}" ></h6>
      Amount:<h6 th:text="${book.amount}"></h6>
     Kind Book <h6 th:text="${book.kindBook}" ></h6>
       <input type="submit" value="Rent Book">
      <button> <a th:href="@{/book }">Book List</a> </button>
</form>
</body>
</html>