<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<a href="/create-category">Create new Category</a>
<a href="/">List Blog</a>
<h1>Blog List</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>Blog List</th>
  </tr>
  <th:block th:each=" category : ${categoryList}">
    <tr>
      <td th:text="${category.id}"></td>
      <td th:text="${category.name}"></td>
      <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
      <td>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:onclick="|deleteBlog(${category.id})|">
          Delete
        </button>
        </td>
      <td><a th:href="@{/blog-list-category/__${category.id}__ }">Blog List</a></td>
    </tr>
  </th:block>
</table>
<a th:href="@{/show-category(page=${categoryList.number - 1})}" th:if="${categoryList.hasPrevious()}">Previous</a>
<span th:text="${categoryList.number + 1}"></span>/<span th:text="${categoryList.totalPages}"></span>
<a th:href="@{/show-category(page=${categoryList.number + 1})}" th:if="${categoryList.hasNext()}">Next</a>
<form action="/delete-category">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <input type="hidden" id="id" name="id">
        <div class="modal-body">
          Bạn có muốn xoá không????
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
  function deleteBlog(id){
    document.getElementById('id').value=id;
  }
</script>
</body>
</html>