<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
</head>
<body>
<header th:replace="header :: phapcp">
</header>
<div th:replace="header::carusel"></div>
<div th:replace="header :: navs"></div>

<div class="container-fluid row">
    <div th:replace="content :: content">
    </div>

    <div class="col-9 table-responsive">
        <button style="background-color: pink">
            <a href="/contract-detail-create" style="color: #171a1d">Create contract</a>
        </button>
        <table class="table table-dark ">
            <thead>
            <tr>
                <th style="color: #cce5ff;column-span: 7">Contract DDetail List</th>
            </tr>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Attach Service Name</th>
                <th scope="col">Contract Start Date</th>
                <th scope="col">Contract Total money</th>
                <th scope="col">Attach Service Cost</th>
                <th scope="col"></th>
                <th scope="col" style="column-span: 2">Action</th>
            </tr>
            </thead>
            <th:block th:each="contractDetail , count: ${contractDetailList}">
                <tr>
                    <td th:text="${count.count}"></td>
                    <th th:text="${contractDetail.attachService.attachServiceName}"></th>
                    <td th:text="${contractDetail.contract.contractStartDate}"></td>
                    <td th:text="${contractDetail.contract.contractTotalMoney}"></td>
                    <td th:text="${contractDetail.attachService.attachServiceCost}"></td>
                    <td>
                        <button>
                            <a th:href="@{/contract-detail-edit/__${contractDetail.contractDetailId}__ }">Edit</a>

                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                th:onclick="|deleteContractDetail(${contractDetail.contractDetailId})|">
                            Delete
                        </button>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a class="btn btn-outline-success"
               th:href="@{/contract-detail-list(page=${contractDetailList.number - 1},search=${searchName})}"
               th:if="${contractDetailList.hasPrevious()}">Previous</a>
            <span th:each="contractDetail : ${#numbers.sequence(0,contractDetailList.totalPages - 1) }"
                  th:if="${contractDetailList.hasContent()}">
          <a class="btn btn-outline-success"
             th:href="@{/contract-detail-list(page=${contractDetail},seach=${searchName})}"
             th:text="${contractDetail+1}"
             th:if="${(contractDetail>(contractDetailList.number)-1)&&(contractDetail<(contractDetailList.number+3))}"
          ></a>
    </span>
            <a class="btn btn-outline-success"
               th:href="@{/contract-detail-list(page=${contractDetailList.number + 1},search=${searchName})}"
               th:if="${contractDetailList.hasNext()}">Next</a>
        </div>
    </div>
</div>
<form action="/contract-detail-delete">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="id" name="id">
                <div class="modal-body">
                    Bạn có muốn xoá không????
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function deleteContractDetail(id) {
        document.getElementById('id').value = id;
    }
</script>
<div th:replace="footer :: footer"></div>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</body>
</html>