<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
  <style>
    p{
      color: red;
    }
  </style>
</head>
<body>
<header th:replace="header :: phapcp">
</header>
<div th:replace="header::carusel"></div>
<div th:replace="header :: navs"></div>
<div class="container-fluid row">
  <div th:replace="content :: content"></div>
  <form th:action="@{/customer-update}" method="post" th:object="${customerDto}">
    <table>
      <input type="hidden" th:field="*{customerId}">
      <tr>
        <td>Name:</td>
        <td><input type="text" th:field="*{customerName}"/>
          <p th:errors="*{customerName}"></p>
        </td>


      </tr>
      <tr>
        <td>Birthday:</td>
        <td><input type="date" th:field="*{birthday}"/></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td>
          <select th:field="*{gender}">
            <option th:value=1>Male</option>
            <option th:value=2>Female</option>
            <option th:value=0>No Gender</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Id Card:</td>
        <td><input type="text" th:field="*{idCart}"/>
          <p th:errors="*{idCart}"></p>
        </td>

      </tr>
      <tr>
        <td>Phone:</td>
        <td><input type="text" th:field="*{phone}"/>
          <p th:errors="*{phone}"></p>
        </td>

      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" th:field="*{email}"/>
          <p th:errors="*{email}"></p>
        </td>

      </tr>
      <tr>
        <td>Address:</td>
        <td><input type="text" th:field="*{address}"/>
          <p th:errors="*{address}"></p>
        </td>
      </tr>
      <tr>
        <td>Code:</td>
        <td><input type="text" th:field="*{customerCode}"/>
          <p th:errors="*{customerCode}"></p>
        </td>
      </tr>
      <tr>
        <td>Customer Type:</td>
        <td>
          <select th:field="*{customerType}">
            <option th:each="ct : ${customerTypeList}" th:value="${ct.customerTypeId}" th:text="${ct.customerTypeName}"></option>
          </select>
        </td>
      </tr>
      <tr>
        <td><button>
          <a th:href="@{/customer-list}"> Back to Customer List</a>
        </button></td>
        <td><input type="submit" value="Update Customer"></td>
      </tr>
    </table>
  </form>
</div>
<div th:replace="footer :: footer"></div>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
</body>
</html>