
  <a href="/contract-detail-create" class="btn btn-warning" role="button" style="margin: 10px 0 10px 0">Create contract Detail</a>
<table class="table table-success ">
  <thead>
  <tr>
    <th style="color: black" colspan="7">Contract Detail List</th>
  </tr>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Attach Service Name</th>
    <th scope="col">Contract Start Date</th>
    <th scope="col">Contract Total money</th>
    <th scope="col">Attach Service Cost</th>
    <th scope="col"></th>
    <th scope="col"  colspan="2">Action</th>
  </tr>
  </thead>

</table>
