
  <a href="/employee-create" class="btn btn-warning" role="button" style="margin: 10px 0 10px 0">Create Employee</a>
<table class="table table-success ">
  <thead>
  <tr>
    <th style="color: black;column-span: 13">Employee List</th>
  </tr>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Id Card</th>
    <th scope="col">Salary</th>
    <th scope="col">Phone</th>
    <th scope="col">Email</th>
    <th scope="col">Address</th>
    <th scope="col">Position</th>
    <th scope="col">Education</th>
    <th scope="col">Division</th>
    <th scope="col"></th>
    <th scope="col" style="column-span: 2">Action</th>
  </tr>
  </thead>
</table>
