<!--<app-header></app-header>-->
<!--<div class="container-fluid row">-->
<!--  <div class="col-3">-->
<!--    <app-content></app-content>-->
<!--  </div>-->
<!--  <div class="card-group col-9 ">-->
<!--    <app-home></app-home>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->


<!--<app-header></app-header>-->
<!--<div class="container-fluid row">-->
<!--  <div class="col-3">-->
<!--    <app-content></app-content>-->
<!--  </div>-->
<!--  <div class="col-9 table-responsive">-->
<!--    <app-customer-list></app-customer-list>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->


<!--<app-header></app-header>-->
<!--<div class="container-fluid row">-->
<!--  <div class="col-3">-->
<!--    <app-content></app-content>-->
<!--  </div>-->
<!--  <div class="col-9 table-responsive" style="background: lightgoldenrodyellow">-->
<!--    <app-customer-create></app-customer-create>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer></app-footer>-->


<app-header></app-header>
<div class="container-fluid row">
  <div class="col-3">
    <app-content></app-content>
  </div>
  <div class="col-9 table-responsive" style="background: ivory">
    <app-contract-detail-list></app-contract-detail-list>
  </div>
</div>
<app-footer></app-footer>
