<form method="post" style="margin-left: 300px">
  <h4 style="color: #007bff">Create Employee Page</h4>
  <input type="hidden" >

  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td><input type="date" class="form-control"/></td>
    </tr>
    <tr>
      <td>Id Card:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Salary:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" class="form-control"/>
        <p></p>
      </td>

    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
      <tr>
    <td>IPosition:</td>
    <td>
      <select class="form-control">
        <option
                ></option>
      </select>
    </td>
    </tr>
    <tr>
    <td>Ieducation:</td>
    <td>
      <select class="form-control">
        <option></option>
      </select>
    </td>
    </tr>
    <tr>
    <td>Idivision:</td>
    <td>
      <select class="form-control">
        <option
                ></option>
      </select>
    </td>
    </tr>
    <tr>
      <td>
        <button>
          <a > Back to Employee List</a>
        </button>
      </td>
      <td><input type="submit" value="Create Employee"></td>
    </tr>
  </table>
</form>
