<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Product Manage Table</h3>
<div class="notify">
        <span th:text="${message}"></span>
</div>

<p>
    <a th:href="@{create}">
        Add new Product
    </a>
</p>
<p>
    <form action="search"  method="post">
        <input type="text" name="name" placeholder="Search..">
        <input type="submit" value="Search" style="width: 50px">
    </form>
</p>

<table id = "product">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Made In</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${product}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.madeIn}"></td>
        <td><a th:href="@{ {id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{ {id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{ {id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/layout :: footer"></footer>

</body>
</html>