#nav1{
  height: 60px;
  background-color: blueviolet;
}
#phapcp{
  font-family: Parisienne, Papyrus;
  color: #6f42c1;
}
.img{
  height: 300px;
}
.link{
  font-family: Parisienne, Papyrus;
  font-size: 18px;
  color: #1b1e21;
}
