<body>


<nav>
  <div class="brand">
    <h2>Niềm Vui Lập Trình</h2>
  </div>
  <ul>
    <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a></li>
    <li><a href=""><i class="fa fa-info" aria-hidden="true"></i> Về Chúng Tôi</a></li>
    <li><a href=""><i class="fa fa-truck" aria-hidden="true"></i> Dịch Vụ</a></li>
    <li><a href=""><i class="fa fa-telegram" aria-hidden="true"></i> Thông Tin</a></li>
    <li><a href=""><i class="fa fa-location-arrow" aria-hidden="true"></i> Địa Chỉ</a></li>
  </ul>
</nav>
<section class="section1"></section>
<!-- Dùng Để Chèn Hình Ảnh-->

<!--Hiển Thị Nội Dung Văn Bản-->

</body>
