<a href="/contract-create" class="btn btn-warning" style="margin: 10px 0 10px 0">Create Contract</a>
<table class="table table-success ">
  <thead>
  <tr>
    <td colspan="11"> Contract List</td>
  </tr>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Customer Code</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Deposit</th>
    <th scope="col">Total money</th>
    <th scope="col">Service Name</th>
    <th scope="col"></th>
    <th scope="col" style="column-span: 2">Action</th>
  </tr>
  </thead>

</table>
