
  <a href="/service-create" class="btn btn-warning" role="button" style="margin: 10px 0 10px 0">Create Service</a>
<table class="table table-success">
  <thead>
  <tr>
    <th colspan="15">Service List</th>
  </tr>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Name</th>
    <th scope="col">Code</th>
    <th scope="col">Area</th>
    <th scope="col">Cost</th>
    <th scope="col">Max People</th>
    <th scope="col">Standard Room</th>
    <th scope="col">Description</th>
    <th scope="col">Pool Area</th>
    <th scope="col">Number Floors</th>
    <th scope="col">Rent Type</th>
    <th scope="col">Service Type</th>
    <th></th>
    <th scope="col" style="column-span: 2">Action</th>

  </tr>
  </thead>

</table>
