<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>List Smartphone</title>
</head>
<link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">

<body>
<div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Content</th>
            <th scope="col">Date</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody id="blog_list">

        </tbody>
    </table>
</div>
<script src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/jquery/popper.min.js"></script>
<script src="/bootstrap4/js/bootstrap.js"></script>
<script type="text/javascript">
    let page = 0;
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "localhost:8080/blog_list?page=" + page,
            success: function (data) {
                console.log("Dax vao");
                let tr = [];
                let blogList = data.content;
                for (let i = 0; i < blogList.length; i++) {
                    tr.push('<tr>');
                    tr.push('<td>' + blogList[i].id + '</td>');
                    tr.push('<td>' + blogList[i].name + '</td>');
                    tr.push('<td>' + blogList[i].content + '</td>');
                    tr.push('<td>' + blogList[i].date + '</td>');
                    tr.push('<td>' + blogList[i].category.name + '</td>');
                    tr.push('</tr>');
                }

                $('#blog_list').append($(tr.join('')));
                // $('#blog_list').innerHTML=table;

            }

        });
    })

</script>


</body>
</html>