<form method="post" style="margin-left: 300px">
  <h4 style="color: #007bff">Create Customer Page</h4>
  <input type="hidden" >
  <table >
    <tr >
      <td>Name:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>


    </tr>
    <tr>
      <td>Birthday:</td>
      <td><input type="date" /></td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <select>
          <option>Male</option>
          <option>Female</option>
          <option >No Gender</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Id Card:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>

    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>

    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>

    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Code:</td>
      <td><input type="text" class="form-control"/>
        <p ></p>
      </td>
    </tr>
    <tr>
      <td>Customer Type:</td>
      <td>
        <select >
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td><button>
        <a href=""> Back to Customer List</a>
      </button></td>
      <td><input type="submit" value="Create Customer"></td>
    </tr>
  </table>
</form>

