<form  method="post" style="margin-left: 300px" [formGroup]="createContract">
  <h5 style="color: #007bff">Create Contract Page</h5>
  <table>
    <input type="hidden" >
    <tr>
      <td>Start Date:</td>
      <td><input type="text"  class="form-control" formControlName="contractStartDate"/>

      </td>
    </tr>
    <tr>
      <td>End Date:</td>
      <td><input type="date" class="form-control" formControlName="contractStartDate"/></td>
    </tr>

    <tr>
      <td>Deposit:</td>
      <td><input type="text" class="form-control" formControlName="contractDeposit"/>
        <div
          *ngIf="!createContract.controls.contractDeposit?.valid && (createContract.controls.contractDeposit?.dirty
   ||createContract.controls.contractDeposit?.touched)" style="color: red">
          Deposit phải lớn hơn 0!!!
        </div>
      </td>
    </tr>
    <tr>
      <td>Total Money:</td>
      <td><input type="text" class="form-control" formControlName="contractTotalMoney"/>
        <div
          *ngIf="!createContract.controls.contractTotalMoney?.valid && (createContract.controls.contractTotalMoney?.dirty
   ||createContract.controls.contractTotalMoney?.touched)" style="color: red">
          Total Money phải lớn hơn 0!!!
        </div>
      </td>

    </tr>
    <tr>
      <td>Employee Name:</td>
      <td>
        <select class="form-control" formControlName="contractStartDate">
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Service Name:</td>
      <td>
        <select class="form-control" formControlName="contractStartDate">
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Customer Name:</td>
      <td>
        <select class="form-control" formControlName="contractStartDate">
          <option ></option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <a class="btn btn-warning" role="button"> Back to Contract List</a>
      <td><input type="submit" class="btn btn-primary" value="Create Contract"></td>
    </tr>
  </table>
</form>
