<form  style="margin-left: 300px" [formGroup]="createCustomer"  (click)="addCustomer()">
  <h4 style="color: #007bff">Create Customer Page</h4>
  <input type="hidden" >
  <table >
    <tr >
      <td>Name:</td>
      <td>
        <input type="text" class="form-control" formControlName="customerName">
        <div
          *ngIf="!createCustomer.controls.customerName?.valid && (createCustomer.controls.customerName?.dirty
   ||createCustomer.controls.customerName?.touched)"style="color: red">
          First Name is not valid
        </div>
      </td>
    </tr>
    <tr>
      <td>Birthday:</td>
      <td><input type="date" formControlName="birthday" class="form-control"/></td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>
        <select  formControlName="gender">
          <option value="1"> Male</option>
          <option value="2">Female</option>
          <option value="0">No Gender</option>
        </select>
        <div
          *ngIf="!createCustomer.controls.gender?.valid && (createCustomer.controls.gender?.dirty
   ||createCustomer.controls.gender?.touched)" style="color: red">
          giới tính không được đeer trống!!!
        </div>
      </td>
    </tr>
    <tr>
      <td>Id Card:</td>
      <td><input type="text" class="form-control" formControlName="idCard"/>
        <div
          *ngIf="!createCustomer.controls.idCard?.valid && (createCustomer.controls.idCard?.dirty
   ||createCustomer.controls.idCard?.touched)" style="color: red">
          Id Card Không được để trống!!!
        </div>
      </td>

    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" class="form-control" formControlName="phone"/>
        <div style="color: red"
          *ngIf="!createCustomer.controls.phone?.valid && (createCustomer.controls.phone?.dirty
   ||createCustomer.controls.phone?.touched)">
          Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx !!!
        </div>
      </td>

    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" class="form-control" formControlName="email"/>
        <div
          *ngIf="!createCustomer.controls.email?.valid && (createCustomer.controls.email?.dirty
   ||createCustomer.controls.email?.touched)">
          Email phải đúng định dạng abc@gmail.com!!!
        </div>
      </td>

    </tr>
    <tr>
      <td>Address:</td>
      <td><input type="text" class="form-control" formControlName="address"/>
        <div style="color: red"
          *ngIf="!createCustomer.controls.idCard?.valid && (createCustomer.controls.idCard?.dirty
   ||createCustomer.controls.idCard?.touched)" >
          Địa chỉ Không được để trống!!!
        </div>
      </td>
    </tr>
    <tr>
      <td>Code:</td>
      <td><input type="text" class="form-control" formControlName="customerCode"/>
        <div style="color: red"
          *ngIf="!createCustomer.controls.customerCode?.valid && (createCustomer.controls.customerCode?.dirty
   ||createCustomer.controls.customerCode?.touched)">
          Code phải đúng định dạng KH-XXXX!!!
        </div>
      </td>
    </tr>
    <tr>
      <td>Customer Type Id:</td>
      <td>
        <input type="text" class="form-control" formControlName="customerTypeId"/>
      </td>
    </tr>
    <tr>
      <td>
        <button>
        <a href=""> Back to Customer List</a>
      </button>
      </td>
      <td><button type="submit" value="Create Customer">Create Customer</button></td>
    </tr>
  </table>
</form>
